# PostgreSQL Database Configuration
# Format: postgresql://<username>:<password>@<host>:<port>/<database_name>
DATABASE_URL=postgresql://postgres:admin@321!@localhost:5432/onemed_db

# ImgBB API Key
IMGBB_API_KEY=6ae6f2084f448bf93ad41c4b2c0a2053
